:root{
  --style-text :  'Outfit', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(212, 45%, 89%) ;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items:  center;
  font-family: var(--style-text);
}

.card{
  width: 307px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 2rem;
  background-color:hsl(0, 0%, 100%) ;
  text-align: center;
  padding: 1rem 0;
  border-radius: 18px;
  
}

.card__img{
  width: 275px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.card__title{
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}


.card__description{
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  padding: 18px;
}